<footer class="bg-dark text-white mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>About Us</h5>
                <p>Powered by - &#64;Super Net Technology PVT.LTD.</p>
                <p><strong>Location:</strong><br>
                    D-211 1st Floor, 108 Laxman Plaza,<br>
                    Near Bank of Baroda, Munirka,<br>
                    New Delhi-110067</p>
                <p><strong>Phone:</strong><br>
                    +91 8595161711<br>
                    011-41541972</p>
                <p><strong>Email Address:</strong><br>
                    <a href="mailto:mnath.snt@gmail.com" class="text-white">mnath.snt&#64;gmail.com</a>
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.snteducation.com" class="text-white">Courses and Projects</a></li>
                    <li><a href="https://www.go2basket.com" class="text-white">Useful Practical Requirements site</a>
                    </li>
                    <li><a href="https://www.nathsir.com" class="text-white">Our personal site</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Social Media</h5>
                <a href="https://www.facebook.com" target="_blank" class="text-white me-2"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="text-white me-2"><i
                        class="bi bi-twitter"></i></a>
                <a href="https://www.linkedin.com" target="_blank" class="text-white me-2"><i
                        class="bi bi-linkedin"></i></a>
                <a href="https://www.instagram.com" target="_blank" class="text-white"><i
                        class="bi bi-instagram"></i></a>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center py-3">
            <p>&copy; 2024 SNT Super Net Technology PVT.LTD. All Rights Reserved.</p>
        </div>
    </div>
</footer>